name: remote ssh command
on: [push, workflow_dispatch]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
            cd awap-dashboard
            PID_DASHBOARD=$(lsof -i:3000 -t)
            sudo kill -9 $PID_DASHBOARD
            git pull
            npm install
            npm run build
            (npm run start -- -p 3000 &)
